* { 
    box-sizing: border-box;
}

body { 
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0.5em 5em;
    background-color: rgb(238, 238, 238);
}       

header { 
    display: flex;
    justify-content: center;
    margin: 1em;
    margin-bottom: 5em;
}

header div { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 { 
    font-size: 150px;
    margin: 0 150px;
}
#container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input { 
    width: 60%;
    height: 2em;
    border: solid 2px rgb(74, 158, 255);
}

#add { 
    margin-top: 1em;
    background-color: transparent;
    border: rgb(0, 119, 255) solid 2px;
    color: rgb(0, 119, 255);
    font-size: 18px;
    border-radius: 10px;
}

#list { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    width: 100%;
}

.bookInfo { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bookButtons { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bookButtons button { 
    margin: 1em;
    margin-bottom: 1.5em;
}


#creator { 
    color: rgb(25, 0, 252);
    font-size: 18px;
    font-weight: bold;
    display: none;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: rgb(74, 158, 255) solid 3px;
    background-color: rgb(238, 238, 238);;
    padding: 1em;
}

#creator input { 
    margin: 1em 0 1em 0; 
    width: 90%;
}

#Description { 
    height:200px;
    font-size:14pt;
    border: solid 2px rgb(0, 119, 255);
    margin-bottom: 1em;
}

#newBook { 
    background-color: transparent;
    border:  rgb(0, 119, 255) solid 2px;
    color:  rgb(0, 119, 255);
    font-size: 18px;
    border-radius: 10px;
}

#books { 
    display: flex; 
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 20em;
    margin-top: 2em;
}

.showBook { 
    background-color: blueviolet;
    width: 19%;
    height: 20em;
    margin: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}

.bookDescription { 
    width: 90%;
    height: auto;
    overflow-wrap: break-word;
    text-align: left;
}

.delete { 
    background-color: transparent;
    border: rgb(255, 255, 255) solid 2px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 10px;
}

.readBtn{
    background-color: transparent;
    border: rgb(255, 255, 255) solid 2px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 10px;
}

.unread{
    background-color: transparent;
    border: rgb(255, 255, 255) solid 2px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 10px;
}